.category {
  min-height: 220px;
  max-height: calc(100vh - 74px);
  overflow-y: scroll;
  padding: 0;
  background-color: lighten($light-grey, 10%);
  border-radius: 3px;
  box-shadow: 0px 0px 10px darken($light-grey, 10%);
  transition: .3s ease-in-out box-shadow;

  &:hover {
    box-shadow: 0px 0px 20px darken($light-grey, 20%);
  }

  .category-title {
    position: relative;
    padding: 25px 0;

    h4 {
      position: relative;
      margin: 0;
      font-weight: 400;

      &:before {
        position: absolute;
        left: 19px;
        bottom: -5px;
        width: 20px;
        height: 2px;
        content: ' ';
      }
      &.planned {
        &:before {
          background-color: $warning;
        }
      }
      &.in-progress {
        &:before {
          background-color: $default;
        }
      }
      &.completed {
        &:before {
          background-color: $success;
        }
      }

      span {
        font-size: 15px;

        &.fa-circle-o {
          color: $warning;
        }
        &.fa-check-circle-o {
          color: $success;
        }
        &.fa-dot-circle-o {
          color: $default;
        }
      }
    }

  }

  .category-status {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 20px;
    padding: 0 15px;
    text-align: center;
    // border-top: 2px solid darken($grey, 7%);
  }

  .category-body {
    padding: 20px 15px 70px;
  }

}
