.category {
  min-height: 220px;
  padding: 0;
  background-color: $grey;
  border-radius: 2px;
  box-shadow: 1px 3px 22px darken($grey, 15%);
  transition: .3s ease-in-out background-color;

  &:hover {
    background-color: lighten($grey, 4%);
  }

  .category-title {
    position: relative;
    padding: 15px 0;

    h4 {
      margin: 0;
    }

  }

  .category-status {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 20px;
    padding: 0 15px;
    text-align: center;
    border-top: 2px solid darken($grey, 7%);
  }

  .category-body {
    padding: 15px;
  }

}
