// Google Font Import
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$default: #b0bec5;
$warning: #fdd835;
$success: #00bcd4;

$light-grey: #f4f4f8;
$grey: #dee8f1;

$light-blue: #e4ebf4;


$font-family: 'Lato', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-color: #515c96;
