// Google Font Import
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$default: #03a9f4;
$warning: #f44336;
$success: #4caf50;

$light-grey: #f5f7fa;
$grey: #dee8f1;

$light-blue: #e4ebf4;


$font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-color: #212a3b;
$secondary-font-color: #55595c;
